body {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    margin: 0;
    /* Puedes darles estilo si quieres que se vean como en tu imagen */
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;

}

main {
    padding: 15px;
    background-image: url(imagenes/fondo.jpg);
    /* padding-bottom: 25px; */
 min-height: calc(100vh - 170px);
    /* El body ocupará al menos el 100% del alto de la ventana (viewport height) */

    background-size: cover;
    /*ocupa todo el main automaticamente*/

    background-attachment: fixed;
    /*Opcional: para que la imagen de fondo no se desplace con el scroll  */





}

.game-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.side-panel {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skeleton-container {
    /* justify-content: center; */
     position: relative; 
    border-width: 15px;
   
    
    /* background-color: rgb(249, 249, 252); */

}

.skeleton-image {
    width: 450px;
    height: auto;
}

.bone {
    background-color: lightgoldenrodyellow;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100px;
    text-align: center;
    /* margin-bottom: 10px; */
}

.dropzone {
    position: absolute;
    width: 120px;
    height: 40px;
    border: 2px dashed #2f4ae2;
}

#check-button {
  /* margin-top: 20px; */
 
    padding: 10px 20px;  
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color: white;
    text-align: center;
    color: black;
    font-size: 20px;
}