body {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0
}

header {
    background-color: white;
    margin: 0;
    /* Puedes darles estilo si quieres que se vean como en tu imagen */
    text-align: center;
}



main {
    padding: 15px;
    min-height: calc(100vh - 170px);
    /* El body ocupará al menos el 100% del alto de la ventana (viewport height) */
    background-size: cover;
    /*ocupa todo el main automaticamente*/
    background-attachment: fixed;
    /*Opcional: para que la imagen de fondo no se desplace con el scroll  */
    background-repeat: no-repeat;



}

/* Clases específicas para cada fondo */
.fondo-inicio {
    background-image: url(imagenes/fondoindex.jpg);
}

.fondo-lengua {
    background-image: url(imagenes/fondoL.webp);
}

.fondo-mate {
    background-image: url(imagenes/fondoM.jpg);
}

.fondo-cono {
    background-image: url(imagenes/fondocono.webp);
}

h1,
h2 {
    text-align: center;
    font-size: 35px;

    @media (width <1200px) {
        font-size: 28px;
    }
}

h2 {
    background-color: rgba(255, 255, 255, 0.7);
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
}

.imagenesindex {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* alinea los objetos al centro*/
    gap: 35px;
    padding-top: 25px;
    /*margen superior*/
    padding-bottom: 75px;


}

video, img {
    border-radius: 50px;
    width: 300px;
}

/* 
img {
    border-radius: 50px;
    width: 300px;
} */

footer {
    background-color: white;
    text-align: center;
    color: black;
    font-size: 20px;
}