body {
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  margin: 0;
  /* Puedes darles estilo si quieres que se vean como en tu imagen */
  text-align: center;
}

main {
  /* background-image: url(imagenes/clock-1392328_1280.jpg); */
  /* padding: 15px; */
  background-color: #3ad167;
  background-size: cover;
  /*ocupa todo el main automaticamente*/
  background-repeat: no-repeat;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: calc(100vh - 170px);
  /* El body ocupará al menos el 100% del alto de la ventana (viewport height) */
  background-attachment: fixed;

  /*Opcional: para que la imagen de fondo no se desplace con el scroll  */
  @media (max-width: 500px) {
    align-items: center;
    flex-direction: column;
  }

}

h2 {

  font-family: 'Luckiest Guy', cursive;
  color: #FF6105;
  /* Naranja brillante */
  font-size: 3.5rem;
  text-shadow: 4px 4px #434342;
  /* Sombra azul marino  */
  text-align: center;
  margin: 0;
}


.instruccion {
  background-color: #ffeb99;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
}

#juego {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

#relojes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  max-width: 600px;

}

/* ----Relojes pequeños--- */
.reloj {
  width: 175px;
  cursor: grab;
  border-radius: 20px;
}

.reloj-central {
  width: 100px;
  height: 100px;
  border: 3px dashed #b10d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #fff;
}

#estado {

  font-family: 'Luckiest Guy', cursive;
  color: #FF6105;
  /* Naranja brillante */
  font-size: 3.5rem;
  text-shadow: 4px 4px #434342;
  /* Sombra azul marino  */
  text-align: center;

}

.reloj-correcto {
  border: 5px solid rgb(47, 59, 216);
  box-shadow: 0 0 10px rgb(39, 7, 182);
  width: 400px;
  /* Ajusta el tamaño si es necesario */
  height: 400px;
  /* Ajusta el tamaño si es necesario */
}


footer {
  background-color: white;
  text-align: center;
  color: black;
  font-size: 20px;
}