body {
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  margin: 0;
  /* Puedes darles estilo si quieres que se vean como en tu imagen */
  text-align: center;
}

main {
  /* background-image: url(imagenes/clock-1392328_1280.jpg); */
  /* padding: 15px; */
  background-color: #3ad167;
  background-size: cover;
  /*ocupa todo el main automaticamente*/
  background-repeat: no-repeat;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: calc(100vh - 170px);
  /* El body ocupará al menos el 100% del alto de la ventana (viewport height) */
  background-attachment: fixed;

  /*Opcional: para que la imagen de fondo no se desplace con el scroll  */
  @media (max-width: 500px) {
    align-items: center;
    flex-direction: column;
  }

}

h2 {

  font-family: 'Luckiest Guy', cursive;
  color: #FF6105;
  /* Naranja brillante */
  font-size: 48px;
  text-shadow: 4px 4px #434342;
  /* Sombra azul marino  */
  text-align: center;
  margin: 0;

  @media (width <1200px) {
    font-size: 28px;
    text-shadow: none;
  }
}


.instruccion {
  background-color: #ffeb99;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
}

#juego {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

#relojes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  max-width: 600px;

}

/* ----Relojes pequeños--- */
.reloj {
  width: 175px;
  cursor: grab;
  border-radius: 20px;

  @media (width <992px) {
    width: 100px;
  }
}

.reloj-central {
  width: 400px;
  height: 400px;
  border: 3px dashed #b10d0d;
  background-color: #fff;
  margin-top: 20px;

  @media (width <992px) {
    width: 250px;
    height: 250px;
  }
}

.reloj-central img,
.reloj-central video {
  width: 100%;
}


#estado {

  font-family: 'Luckiest Guy', cursive;
  color: #FF6105;
  /* Naranja brillante */
  font-size: 3.5rem;
  text-shadow: 4px 4px #434342;
  /* Sombra azul marino  */
  text-align: center;

}


footer {
  background-color: white;
  text-align: center;
  color: black;
  font-size: 20px;
}